:root{
    --transition-speed: 600ms;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Open sans';
    background-color: #FF5733;
}

#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 800px;
    float: right;
}

.felirat{
    visibility: hidden;
}

nav{
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 5rem;
    height: 100%;
    background-color: #601486;
    transition: width 200ms ease;
}

.icons{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.icons i{
    font-size: 40px;
    padding-top: 20px;
}

nav:hover{
    width: 10rem;
    transition: width 200ms ease;
}

.icons .fa-lightbulb, .fa-ghost, .fa-basketball-ball{
    color: black;
    transition: 2s ease;
}
.icons .fa-lightbulb:hover{
    color:#C70039;
    transition: 2s ease;
}
.icons .fa-basketball-ball:hover{
    color:#C70039;
    transition: 2s ease;
}
.icons .fa-ghost:hover{
    color:#C70039;
    transition: 2s ease;
}

.arrow{
    font-size: 60px;
    transform: rotate(0deg);
    transition: transform var(--transition-speed);
}

nav:hover .arrow{
    transform: rotate(-540deg);
}


#container i{
    font-size: 200px;
}

#lightbulb{
    position: relative;
}

#lightbulb .fa-lightbulb{
    animation-name: fa-lightbulb;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    transition: 5s;
}

@keyframes fa-lightbulb{
        0%   {color: red;}
        10%  {color: yellow;}
        20%  {color: blue;}
        30%  {color: green;}
        40%  {color: purple;}
        50%  {color: gray;}
        60%  {color: black;}
        70%  {color: white;}
        80%  {color: violet;}
        90%  {color: turquoise;}
        100% {color: blueviolet;}
}

#lightbulb .fa-lightbulb:hover{
    font-size: 500px;
}

#basketball .fa-basketball-ball{
    color: chocolate;
    animation-name: fa-basketball-ball;
    animation-duration: 15s;
    position: relative;
    animation-iteration-count: infinite;
    transition: 5s;
}

@keyframes fa-basketball-ball{
    0%   {left: 0px;}
    25%  {left: 94%;}
    50%  {left:0px;}
    75%  {left:94%;}
    100% {left:0px;}

    0% {transform: rotate(0deg);}
    100% {transform: rotate(180deg);}
}

#basketball .fa-basketball-ball:hover{
    font-size: 100px;
}

#ghost .fa-ghost{
    animation-name:  fa-ghost;
    animation-duration: 5s;
    position: relative;
    animation-iteration-count: infinite;
    transition: 5s;
}

@keyframes fa-ghost{
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 100px); }
    100%   { transform: translate(0, -0px); }
}

#ghost .fa-ghost:hover{
    color: blueviolet;
}

